language: node_js
node_js:
  - '8'
branches:
  only:
    - master
cache:
  directories:
    - node_modules
before_install:
  - npm update
  - chmod +x ./coverage/lcov.info
install:
  - npm install
script:
  - npm test
  - npm run coveralls